* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 85%;
    width: 100%;
    background-color: black;
    display: flex;
    padding: 5vh 10vw;

}

#left {
    width: 45%;
    height: 100%;
    background: #333;
    /* background-image: url("https://i.ytimg.com/vi/cvaIgq5j2Q8/hq720.jpg?sqp=-oaymwE7CK4FEIIDSFryq4qpAy0IARUAAAAAGAElAADIQj0AgKJD8AEB-AH-CYAC0AWKAgwIABABGGUgVihGMA8=&rs=AOn4CLAi1j4CsvzPY2llZxWTHOi4Umyd5w"); */
    background-size: cover;

}

#right {
    width: 55%;
    height: 100%;
    /* background: #555; */
    padding: 0 3vw;
}

#right h3 {
    font-size: 40px;
}

#All-Songs {
    /* background: #d470c5; */
    height: 85%;
    margin-top: 30px;
    overflow: auto;
}

.song-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #6b6969;
    padding: 30px 15px;
}

.song-card:hover {
    background: rgb(80, 79, 79);
}


.song-card:nth-last-child(1) {
    border-bottom: 1px solid #6b6969;
}

.song-card .part1 {
    display: flex;
    align-items: center;
    pointer-events: none;
}

.song-card img {
    height: 55px;
    /* width: 55px; */
    margin-right: 20px;
    pointer-events: none;

}

.song-card h2 {
    font-size: 22px;
    font-weight: 700;
    pointer-events: none;
}

.song-card h6 {
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
}

#player {
    height: 15%;
    width: 100%;
    background: #303031;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#player h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 10px;
    border-radius: 50%;

}

#player h3 i {
    font-size: 20px;
}


#player h3:active {
    scale: 0.8;
}
